<title>TinyApp</title>

<% if(username){ %>
  <h2>Username: <%= username  %></h2>

  <form action="/logout" method="POST">
    <label for="logout">Logout</label>
    <input type="submit" value="Submit">
  
  </form>
<% } else{ %>  
  <form action="/login" method="POST" style="margin:150px;">
    <label for="name">Enter your username</label>
    <input id="name" type="text" name="name" placeholder="Username" style="width: 300px">
    <input type="submit" value="Submit">
  </form>
<% } %>




